## Aggregation

Агрегирование данных - это сбор информации из баз данных с целью подготовки комбинированных наборов данных для обработки данных.

In [2]:
import numpy as np
import pandas as pd

### Built-in aggregation methods in Pandas
An aggregation method takes a Series of values and returns a single value.

In [3]:
numbers = pd.Series(np.random.randint(low=1, high=100, size=5))
numbers

0    45
1    25
2    65
3    57
4    30
dtype: int32

Some of Pandas aggregation methods are:

In [4]:
print(f"{numbers.min() =}")
print(f"{numbers.max() =}")
print(f"{numbers.mean() =}")
print(f"{numbers.median() =}")
print(f"{numbers.mode() =}")
print(f"{numbers.size =}")

numbers.min() =25
numbers.max() =65
numbers.mean() =44.4
numbers.median() =45.0
numbers.mode() =0    25
1    30
2    45
3    57
4    65
dtype: int32
numbers.size =5

In [5]:
print(f"{numbers.mode()[0] =}")

numbers.mode()[0] =25

In [6]:
print(f"{numbers.sum() =}")
print(f"{numbers.count() =}")
print(f"{numbers.sum() / numbers.count() =}")

numbers.sum() =222
numbers.count() =5
numbers.sum() / numbers.count() =44.4

When run on a dataframe (multiple Series) they return a single value for each series, forming a new Series

In [7]:
numbers_df = pd.DataFrame(np.random.randint(low=1, high=100, size=[5,5]))
numbers_df

    0   1   2   3   4
0  35  34  78  82  94
1  28  60  74   2  67
2  31  73  36  46   2
3  84  45  47  15  97
4  53  17  74   5  89

In [8]:
numbers_df.min() #min для каждой колонки, default axis = "index"

0    28
1    17
2    36
3     2
4     2
dtype: int32

In [9]:
numbers_df.min(axis="columns") # min для каждого ряда

0    34
1     2
2     2
3    15
4     5
dtype: int32

In [10]:
numbers_df.min().min() # in all the data frame

2

In [11]:
numbers_df.median(axis="columns")

0    78.0
1    60.0
2    36.0
3    47.0
4    53.0
dtype: float64

In [12]:
numbers_df.isna() # наличие н/а

       0      1      2      3      4
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False

Count null values in each column:

In [13]:
numbers_df.isna().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [14]:
numbers[3] = np.NAN
numbers

0    45.0
1    25.0
2    65.0
3     NaN
4    30.0
dtype: float64

In [15]:
print (f"{numbers.size =}")
print (f"{numbers.count() =}")

numbers.size =5
numbers.count() =4

In [16]:
numbers.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [17]:
numbers.isna().sum()

1

## Working with real data

In [18]:
cosmetics = pd.read_json("../TrainingData/CosmeticBrands/makeup_data.json")

In [19]:
cosmetics.head(1)

,id,brand,name,price,price_sign,currency,image_link,product_link,website_link,description,rating,category,product_type,tag_list,created_at,updated_at,product_api_url,api_featured_image,product_colors
0,1048,colourpop,Lippie Pencil,5.0,$,CAD,https://cdn.shopify.com/s/files/1/1338/0845/co...,https://colourpop.com/collections/lippie-pencil,https://colourpop.com,Lippie Pencil A long-wearing and high-intensit...,NaN,pencil,lip_liner,"[cruelty free, Vegan]",2018-07-08 23:45:08.056000+00:00,2018-07-09 00:53:23.301000+00:00,http://makeup-api.herokuapp.com/api/v1/product...,//s3.amazonaws.com/donovanbailey/products/api_...,"[{'hex_value': '#B28378', 'colour_name': 'BFF ..."

In [20]:
cosmetics["price"].mean()

16.508593238822247

In [21]:
cosmetics[["brand", "name", "price"]].head(3)

       brand           name  price
0  colourpop  Lippie Pencil    5.0
1  colourpop    Blotted Lip    5.5
2  colourpop    Lippie Stix    5.5

Running mean() on multiple columns (DataFrame) returns a Series of means

In [22]:
heroes = pd.read_excel("../TrainingData/heroes.xlsx", sheet_name='original')
heroes.head(1)

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
0,AzureDragon,Neutral,7,50,50,70,80,1000,19,1,78845,30000,"Mercury,20","Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells..."

In [23]:
heroes[["Attack", "Defence", "Health"]].mean()

Attack     11.659574
Defence    10.843972
Health     78.085106
dtype: float64

In [24]:
heroes[["Attack", "Defence", "Health"]].head(3).mean()

Attack      40.0
Defence     40.0
Health     850.0
dtype: float64

In [25]:
heroes.query("Castle=='Necropolis'")[["Attack", "Defence", "Health"]].mean()

Attack     10.785714
Defence     9.928571
Health     58.071429
dtype: float64

## Multiple aggregation

In [26]:
heroes[["Attack", "Defence", "Health"]].agg("mean")

Attack     11.659574
Defence    10.843972
Health     78.085106
dtype: float64

In [27]:
heroes[["Attack", "Defence", "Health"]].agg("max")

Attack       50
Defence      50
Health     1000
dtype: int64

In [28]:
heroes[["Attack", "Defence", "Health"]].agg(["min", "mean", "max"])

         Attack    Defence       Health
min    1.000000   1.000000     1.000000
mean  11.659574  10.843972    78.085106
max   50.000000  50.000000  1000.000000

In [29]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unit_name          141 non-null    object
 1   Castle             141 non-null    object
 2   Level              141 non-null    object
 3   Attack             141 non-null    int64
 4   Defence            141 non-null    int64
 5   Minimum Damage     141 non-null    int64
 6   Maximum Damage     141 non-null    int64
 7   Health             141 non-null    int64
 8   Speed              141 non-null    int64
 9   Growth             141 non-null    int64
 10  AI_Value           141 non-null    int64
 11  Gold               141 non-null    int64
 12  Additional_item    141 non-null    object
 13  Special_abilities  141 non-null    object
dtypes: int64(9), object(5)
memory usage: 15.6+ KB

In [30]:
heroes["AI_Value"].dtype

dtype('int64')

In [31]:
heroes[[col for col in heroes.columns if heroes[col].dtype in ["int64", "float64"]]].agg(["min", "mean", "max"])

,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold
min,1.000000,1.000000,1.000000,1.000000,1.000000,3.00000,1.000000,15.000000,10.000000
mean,11.659574,10.843972,11.262411,15.992908,78.085106,7.41844,5.730496,2417.624113,1236.489362
max,50.000000,50.000000,70.000000,80.000000,1000.000000,21.00000,25.000000,78845.000000,30000.000000

In [32]:
heroes.describe()

,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000
mean,11.659574,10.843972,11.262411,15.992908,78.085106,7.418440,5.730496,2417.624113,1236.489362
std,6.992680,7.207420,13.339868,16.784132,138.142136,3.466484,4.702400,7908.489944,3403.613560
min,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,15.000000,10.000000
25%,7.000000,6.000000,2.000000,4.000000,15.000000,5.000000,2.000000,203.000000,150.000000
50%,10.000000,10.000000,6.000000,9.000000,30.000000,7.000000,4.000000,517.000000,350.000000
75%,15.000000,13.000000,15.000000,20.000000,75.000000,9.000000,8.000000,1547.000000,850.000000
max,50.000000,50.000000,70.000000,80.000000,1000.000000,21.000000,25.000000,78845.000000,30000.000000

### Split - Apply - Combine

- Select a feature to use as a key
- Split the dataset to the groups for each unique key value
- Apply aggregation to each group
- Combine the aggregated data to a new dataset

![image](https://nicholasvadivelu.com/assets/images/posts/groupby/split-apply-combine.svg#center)

### Group by

Use Pandas .groupby() method to select a key and split into groups

This creates a new Data Frame GroupBy obj containes the grouped DataFrames

In [33]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unit_name          141 non-null    object
 1   Castle             141 non-null    object
 2   Level              141 non-null    object
 3   Attack             141 non-null    int64
 4   Defence            141 non-null    int64
 5   Minimum Damage     141 non-null    int64
 6   Maximum Damage     141 non-null    int64
 7   Health             141 non-null    int64
 8   Speed              141 non-null    int64
 9   Growth             141 non-null    int64
 10  AI_Value           141 non-null    int64
 11  Gold               141 non-null    int64
 12  Additional_item    141 non-null    object
 13  Special_abilities  141 non-null    object
dtypes: int64(9), object(5)
memory usage: 15.6+ KB

In [34]:
castles = heroes.groupby("Castle")
type(castles)

pandas.core.groupby.generic.DataFrameGroupBy

In [35]:
len (castles)

10

In [36]:
heroes["Castle"].unique()

array(['Neutral', 'Castle', 'Dungeon', 'Rampart', 'Tower', 'Inferno',
       'Conflux', 'Stronghold', 'Fortress', 'Necropolis'], dtype=object)

In [37]:
heroes["Castle"].nunique()

10

In [38]:
heroes["Castle"].value_counts()

Castle
Neutral       15
Castle        14
Dungeon       14
Rampart       14
Tower         14
Inferno       14
Conflux       14
Stronghold    14
Fortress      14
Necropolis    14
Name: count, dtype: int64

In [39]:
castles.groups

{'Castle': [4, 13, 24, 29, 57, 65, 74, 77, 78, 87, 108, 119, 121, 128], 'Conflux': [9, 17, 28, 33, 72, 73, 76, 83, 86, 89, 92, 94, 124, 137], 'Dungeon': [5, 15, 34, 35, 44, 52, 63, 70, 84, 90, 102, 112, 127, 135], 'Fortress': [11, 18, 36, 38, 45, 49, 58, 67, 95, 97, 111, 120, 125, 136], 'Inferno': [8, 12, 30, 32, 40, 56, 75, 79, 82, 85, 100, 110, 132, 138], 'Necropolis': [16, 20, 23, 25, 43, 51, 54, 66, 93, 98, 118, 123, 126, 134], 'Neutral': [0, 1, 2, 3, 41, 47, 55, 61, 62, 88, 96, 113, 116, 130, 140], 'Rampart': [6, 14, 26, 31, 53, 68, 69, 71, 91, 103, 104, 114, 115, 122], 'Stronghold': [10, 21, 37, 39, 42, 46, 60, 80, 101, 105, 107, 117, 129, 133], 'Tower': [7, 19, 22, 27, 48, 50, 59, 64, 81, 99, 106, 109, 131, 139]}

In [40]:
castles.groups.keys()

dict_keys(['Castle', 'Conflux', 'Dungeon', 'Fortress', 'Inferno', 'Necropolis', 'Neutral', 'Rampart', 'Stronghold', 'Tower'])

In [41]:
heroes.loc[castles.groups["Dungeon"]]

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
5,BlackDragon,Dungeon,7+,25,25,40,50,300,15,1,8721,4000,"Sulfur,2","Dragon,Flying,Breathattack,Resistallspells,Hat..."
15,RedDragon,Dungeon,7,19,19,40,50,180,11,1,4702,2500,"Sulfur,1","Dragon,Flying,Breathattack,Resistlvl1-3spells"
34,Scorpicore,Dungeon,6+,16,14,14,20,80,11,2,1589,1050,0,"Flying,Paralyze"
35,Manticore,Dungeon,6,15,13,14,20,80,7,2,1547,850,0,Flying
44,MinotaurKing,Dungeon,5+,15,15,12,20,50,8,3,1068,575,0,Positivemorale
52,Minotaur,Dungeon,5,14,12,12,20,50,6,3,835,500,0,Positivemorale
63,MedusaQueen,Dungeon,4+,10,10,6,8,30,6,4,577,330,0,"Ranged(8shots),Nomeleepenalty,Petrify"
70,Medusa,Dungeon,4,9,9,6,8,25,5,4,517,300,0,"Ranged(4shots),Nomeleepenalty,Petrify"
84,EvilEye,Dungeon,3+,10,8,3,5,22,7,7,367,280,0,"Ranged(24shots),Nomeleepenalty"
90,Beholder,Dungeon,3,9,7,3,5,22,5,7,336,250,0,"Ranged(12shots),Nomeleepenalty"
102,HarpyHag,Dungeon,2+,6,6,1,4,14,9,8,238,170,0,"Flying,Strikeandreturn,Noenemyretaliation"
112,Harpy,Dungeon,2,6,5,1,4,14,6,8,154,130,0,"Flying,Strikeandreturn"
127,InfernalTroglodyte,Dungeon,1+,5,4,1,3,6,5,14,84,65,0,ImmunetoBlinding
135,Troglodyte,Dungeon,1,4,3,1,3,5,4,14,59,50,0,ImmunetoBlinding

In [42]:
castles.get_group("Conflux")

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
9,Phoenix,Conflux,7+,21,18,30,40,200,21,2,6721,2000,"Mercury,1","Flying,Breathattack,Fireimmunity,Rebirth"
17,Firebird,Conflux,7,18,18,30,40,150,15,2,4547,1500,0,"Flying,Breathattack,Fireimmunity"
28,MagicElemental,Conflux,6+,15,13,15,25,80,9,2,2012,800,0,"Elemental,Noenemyretaliation,Attacksadjacenthe..."
33,PsychicElemental,Conflux,6,15,13,10,20,75,7,2,1669,750,0,"Elemental,Noenemyretaliation,Attacksadjacenthexes"
72,MagmaElemental,Conflux,5+,11,11,6,10,40,6,4,490,500,0,"Elemental,MeteorShowervulnerability,Lightninga..."
73,StormElemental,Conflux,2+,9,9,2,8,25,8,6,486,275,0,"Ranged(24shots),Elemental,Lightningvulnerabili..."
76,EnergyElemental,Conflux,4+,12,8,4,6,35,8,5,470,400,0,"Elemental,Flying,Icevulnerability,Fireimmunity..."
83,IceElemental,Conflux,3+,8,10,3,7,30,6,6,380,375,0,"Ranged(24shots),Elemental,VulnerabletoFireball..."
86,AirElemental,Conflux,2,9,9,2,8,25,7,6,356,250,0,"Elemental,Lightningvulnerability,ImmunetoMeteo..."
89,FireElemental,Conflux,4,10,8,4,6,35,6,5,345,350,0,"Elemental,Icevulnerability,Fireimmunity"
92,EarthElemental,Conflux,5,10,10,4,8,40,4,4,330,400,0,"Elemental,MeteorShowervulnerability,Lightninga..."
94,WaterElemental,Conflux,3,8,10,3,7,30,5,6,315,300,0,"Elemental,VulnerabletoFireball,InfernoandArmag..."
124,Sprite,Conflux,1+,2,2,1,3,3,9,20,95,30,0,"Flying,Noenemyretaliation"
137,Pixie,Conflux,1,2,2,1,2,3,7,20,55,25,0,Flying

### Apply & Combine
It's possible to access a single group as above.
However, most of the time we rather apply aggregation functions to each group individually and combine the result into a new dataset.

In [43]:
castles.count().head(3)

,Unit_name,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
Castle,,,,,,,,,,,,,
Castle,14,14,14,14,14,14,14,14,14,14,14,14,14
Conflux,14,14,14,14,14,14,14,14,14,14,14,14,14
Dungeon,14,14,14,14,14,14,14,14,14,14,14,14,14

In [44]:
castles["Attack"].mean()

Castle
Castle        11.857143
Conflux       10.714286
Dungeon       11.642857
Fortress       9.928571
Inferno       11.571429
Necropolis    10.785714
Neutral       16.133333
Rampart       10.928571
Stronghold    11.428571
Tower         11.285714
Name: Attack, dtype: float64

In [45]:
castles[["Attack", "Defence", "Health", "Speed", "Gold"]].mean()

               Attack    Defence      Health     Speed         Gold
Castle
Castle      11.857143  11.071429   62.142857  7.357143   898.214286
Conflux     10.714286  10.071429   55.071429  8.428571   568.214286
Dungeon     11.642857  10.714286   62.714286  7.500000   789.285714
Fortress     9.928571  11.642857   61.500000  6.642857   734.285714
Inferno     11.571429  10.714286   56.357143  7.928571   841.428571
Necropolis  10.785714   9.928571   58.071429  6.785714   735.357143
Neutral     16.133333  14.600000  222.333333  8.933333  5246.666667
Rampart     10.928571  10.357143   64.142857  7.428571   739.642857
Stronghold  11.428571   8.571429   63.214286  6.500000   642.500000
Tower       11.285714  10.500000   65.000000  6.571429   882.857143

### SeriesGroupBy

Indexing a DataFrameGroupBy object with a single column will return a SeriesGroupBy object

In [46]:
sgb = castles["Gold"]
type(sgb)

pandas.core.groupby.generic.SeriesGroupBy

In [47]:
sgb.groups

{'Castle': [4, 13, 24, 29, 57, 65, 74, 77, 78, 87, 108, 119, 121, 128], 'Conflux': [9, 17, 28, 33, 72, 73, 76, 83, 86, 89, 92, 94, 124, 137], 'Dungeon': [5, 15, 34, 35, 44, 52, 63, 70, 84, 90, 102, 112, 127, 135], 'Fortress': [11, 18, 36, 38, 45, 49, 58, 67, 95, 97, 111, 120, 125, 136], 'Inferno': [8, 12, 30, 32, 40, 56, 75, 79, 82, 85, 100, 110, 132, 138], 'Necropolis': [16, 20, 23, 25, 43, 51, 54, 66, 93, 98, 118, 123, 126, 134], 'Neutral': [0, 1, 2, 3, 41, 47, 55, 61, 62, 88, 96, 113, 116, 130, 140], 'Rampart': [6, 14, 26, 31, 53, 68, 69, 71, 91, 103, 104, 114, 115, 122], 'Stronghold': [10, 21, 37, 39, 42, 46, 60, 80, 101, 105, 107, 117, 129, 133], 'Tower': [7, 19, 22, 27, 48, 50, 59, 64, 81, 99, 106, 109, 131, 139]}

In [48]:
sgb.get_group("Conflux")

9      2000
17     1500
28      800
33      750
72      500
73      275
76      400
83      375
86      250
89      350
92      400
94      300
124      30
137      25
Name: Gold, dtype: int64

In [49]:
sgb.mean()

Castle
Castle         898.214286
Conflux        568.214286
Dungeon        789.285714
Fortress       734.285714
Inferno        841.428571
Necropolis     735.357143
Neutral       5246.666667
Rampart        739.642857
Stronghold     642.500000
Tower          882.857143
Name: Gold, dtype: float64

In [50]:
(
heroes
    .groupby("Castle")[["Defence", "Attack", "Health"]]
    .mean()
)

              Defence     Attack      Health
Castle
Castle      11.071429  11.857143   62.142857
Conflux     10.071429  10.714286   55.071429
Dungeon     10.714286  11.642857   62.714286
Fortress    11.642857   9.928571   61.500000
Inferno     10.714286  11.571429   56.357143
Necropolis   9.928571  10.785714   58.071429
Neutral     14.600000  16.133333  222.333333
Rampart     10.357143  10.928571   64.142857
Stronghold   8.571429  11.428571   63.214286
Tower       10.500000  11.285714   65.000000

In [51]:
heroes.groupby("Castle")[["Defence", "Attack", "Health"]].mean().head(3)

           Defence     Attack     Health
Castle
Castle   11.071429  11.857143  62.142857
Conflux  10.071429  10.714286  55.071429
Dungeon  10.714286  11.642857  62.714286

# Multiple aggregations on SeriesGroupBy

Use pandas .agg() method on SeriesGroupBy to do multiple aggregation on a single feature

In [52]:
sgb.min()

Castle
Castle        60
Conflux       25
Dungeon       50
Fortress      50
Inferno       50
Necropolis    60
Neutral       10
Rampart       70
Stronghold    40
Tower         30
Name: Gold, dtype: int64

In [53]:
sgb.agg(["min", "mean", "max"])

            min         mean    max
Castle
Castle       60   898.214286   5000
Conflux      25   568.214286   2000
Dungeon      50   789.285714   4000
Fortress     50   734.285714   3500
Inferno      50   841.428571   4500
Necropolis   60   735.357143   3000
Neutral      10  5246.666667  30000
Rampart      70   739.642857   4000
Stronghold   40   642.500000   3000
Tower        30   882.857143   5000

In [54]:
heroes.groupby("Castle")["Health"].agg(["min", "mean", "max"])

            min        mean   max
Castle
Castle       10   62.142857   250
Conflux       3   55.071429   200
Dungeon       5   62.714286   300
Fortress      6   61.500000   250
Inferno       4   56.357143   200
Necropolis    6   58.071429   200
Neutral       1  222.333333  1000
Rampart       8   64.142857   250
Stronghold    5   63.214286   300
Tower         4   65.000000   300

In [55]:
heroes.groupby("Castle")["Health"].describe()

            count        mean         std   min    25%   50%     75%     max
Castle
Castle       14.0   62.142857   75.618330  10.0  13.75  30.0   83.75   250.0
Conflux      14.0   55.071429   56.010252   3.0  26.25  35.0   66.25   200.0
Dungeon      14.0   62.714286   82.314060   5.0  16.00  27.5   72.50   300.0
Fortress     14.0   61.500000   70.105141   6.0  16.25  37.5   70.00   250.0
Inferno      14.0   56.357143   59.374440   4.0  16.00  37.5   78.75   200.0
Necropolis   14.0   58.071429   62.285280   6.0  18.00  30.0  100.00   200.0
Neutral      15.0  222.333333  350.712065   1.0  15.00  30.0  280.00  1000.0
Rampart      14.0   64.142857   72.304758   8.0  16.25  30.0   83.75   250.0
Stronghold   14.0   63.214286   79.773891   5.0  11.25  50.0   67.50   300.0
Tower        14.0   65.000000   80.834113   4.0  18.25  32.5   92.50   300.0

In [56]:
heroes.groupby("Castle")["Health"].describe().transpose()

Castle,Castle,Conflux,Dungeon,Fortress,Inferno,Necropolis,Neutral,Rampart,Stronghold,Tower
count,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,15.000000,14.000000,14.000000,14.000000
mean,62.142857,55.071429,62.714286,61.500000,56.357143,58.071429,222.333333,64.142857,63.214286,65.000000
std,75.618330,56.010252,82.314060,70.105141,59.374440,62.285280,350.712065,72.304758,79.773891,80.834113
min,10.000000,3.000000,5.000000,6.000000,4.000000,6.000000,1.000000,8.000000,5.000000,4.000000
25%,13.750000,26.250000,16.000000,16.250000,16.000000,18.000000,15.000000,16.250000,11.250000,18.250000
50%,30.000000,35.000000,27.500000,37.500000,37.500000,30.000000,30.000000,30.000000,50.000000,32.500000
75%,83.750000,66.250000,72.500000,70.000000,78.750000,100.000000,280.000000,83.750000,67.500000,92.500000
max,250.000000,200.000000,300.000000,250.000000,200.000000,200.000000,1000.000000,250.000000,300.000000,300.000000

### Multiple aggregation on DataFrameGroupBy

Using pandas .agg() method on a DataFrameGroupBy to do multiple aggregation on multiple features will return a multi-index column dataframe

In [57]:
castles[["Attack", "Defence", "Health"]].agg(["min", "mean", "max"])

           Attack                Defence                Health              \
              min       mean max     min       mean max    min        mean
Castle
Castle          4  11.857143  30       3  11.071429  30     10   62.142857
Conflux         2  10.714286  21       2  10.071429  18      3   55.071429
Dungeon         4  11.642857  25       3  10.714286  25      5   62.714286
Fortress        3   9.928571  18       5  11.642857  20      6   61.500000
Inferno         2  11.571429  26       3  10.714286  28      4   56.357143
Necropolis      5  10.785714  19       4   9.928571  18      6   58.071429
Neutral         1  16.133333  50       1  14.600000  50      1  222.333333
Rampart         5  10.928571  27       3  10.357143  27      8   64.142857
Stronghold      4  11.428571  19       2   8.571429  19      5   63.214286
Tower           3  11.285714  24       3  10.500000  24      4   65.000000


             max
Castle
Castle       250
Conflux      200
Dungeon      300
Fortress     250
Inferno      200
Necropolis   200
Neutral     1000
Rampart      250
Stronghold   300
Tower        300

### Custom columns aggregation

In [58]:
heroes.groupby("Castle").agg({"Gold": "mean", "Attack": "max"}).head(3)

               Gold  Attack
Castle
Castle   898.214286      30
Conflux  568.214286      21
Dungeon  789.285714      25

In [59]:
heroes.groupby("Castle").agg(
    average_price  = pd.NamedAgg(column = "Gold", aggfunc = "mean"),
    min_attack = pd.NamedAgg(column = "Attack", aggfunc = "min"),
    max_attack = pd.NamedAgg(column = "Attack", aggfunc = "max")
    )

            average_price  min_attack  max_attack
Castle
Castle         898.214286           4          30
Conflux        568.214286           2          21
Dungeon        789.285714           4          25
Fortress       734.285714           3          18
Inferno        841.428571           2          26
Necropolis     735.357143           5          19
Neutral       5246.666667           1          50
Rampart        739.642857           5          27
Stronghold     642.500000           4          19
Tower          882.857143           3          24

In [60]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unit_name          141 non-null    object
 1   Castle             141 non-null    object
 2   Level              141 non-null    object
 3   Attack             141 non-null    int64
 4   Defence            141 non-null    int64
 5   Minimum Damage     141 non-null    int64
 6   Maximum Damage     141 non-null    int64
 7   Health             141 non-null    int64
 8   Speed              141 non-null    int64
 9   Growth             141 non-null    int64
 10  AI_Value           141 non-null    int64
 11  Gold               141 non-null    int64
 12  Additional_item    141 non-null    object
 13  Special_abilities  141 non-null    object
dtypes: int64(9), object(5)
memory usage: 15.6+ KB

In [61]:
def list_unique(x):
    return ", ".join(x.unique())

heroes.groupby("Castle").agg(
    average_price  = pd.NamedAgg(column = "Gold", aggfunc = "mean"),
    min_attack = pd.NamedAgg(column = "Attack", aggfunc = "min"),
    max_attack = pd.NamedAgg(column = "Attack", aggfunc = "max"),
    abilities = pd.NamedAgg(column = "Special_abilities", aggfunc=list_unique),
    )

,average_price,min_attack,max_attack,abilities
Castle,,,,
Castle,898.214286,4,30,"Flying,HatesDevils,Resurrection,Morale+1, Flyi..."
Conflux,568.214286,2,21,"Flying,Breathattack,Fireimmunity,Rebirth, Flyi..."
Dungeon,789.285714,4,25,"Dragon,Flying,Breathattack,Resistallspells,Hat..."
Fortress,734.285714,3,18,"Noenemyretaliation,Attackalladjacentenemies, F..."
Inferno,841.428571,2,26,"Teleporting,Noenemyretaliation,Luck-1,HatesAng..."
Necropolis,735.357143,5,19,"Dragon,Undead,Flying,Morale-1,Aging, Dragon,Un..."
Neutral,5246.666667,1,50,"Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells..."
Rampart,739.642857,5,27,"Flying,Breathattack,Resistlvl1вЂ“4spells, Flyi..."
Stronghold,642.500000,4,19,"Defense-80%toenemytarget, Defense-40%toenemyta..."
Tower,882.857143,3,24,"Ranged(24shots),Nomeleepenalty,ImmunitytoMind,..."

In [62]:
def list_unique(x):
    return ", ".join(x.unique())

heroes.groupby("Castle").agg(
    average_price  = pd.NamedAgg(column = "Gold", aggfunc = "mean"),
    min_attack = pd.NamedAgg(column = "Attack", aggfunc = "min"),
    max_attack = pd.NamedAgg(column = "Attack", aggfunc = "max"),
    abilities = pd.NamedAgg(column = "Special_abilities", aggfunc=list_unique),
    ).sort_values(by = "average_price", ascending = True).head(3)

,average_price,min_attack,max_attack,abilities
Castle,,,,
Conflux,568.214286,2,21,"Flying,Breathattack,Fireimmunity,Rebirth, Flyi..."
Stronghold,642.500000,4,19,"Defense-80%toenemytarget, Defense-40%toenemyta..."
Fortress,734.285714,3,18,"Noenemyretaliation,Attackalladjacentenemies, F..."

In [63]:
my_list = [3, 5, 2, 4, 6]
my_list.sort()
my_list

[2, 3, 4, 5, 6]

In [64]:
a_lst = [5, 8, 7]
sorted(a_lst)

[5, 7, 8]

In [65]:
a_lst

[5, 8, 7]

In [66]:
dic_list = [
    {"FirstName": "Fredrik",
     "LastName": "Johansson",
     "Age": 22},
     {"FirstName": "Anna",
     "LastName": "Smith",
     "Age": 28},
     {"FirstName": "Henrik",
     "LastName": "Duek",
     "Age": 42},
]

In [67]:
def my_sorting_func(person):
    return person["FirstName"]

sorted(dic_list, key = my_sorting_func)

[{'FirstName': 'Anna', 'LastName': 'Smith', 'Age': 28},
 {'FirstName': 'Fredrik', 'LastName': 'Johansson', 'Age': 22},
 {'FirstName': 'Henrik', 'LastName': 'Duek', 'Age': 42}]

In [68]:
def other_sorting_func(person):
    return len(person["FirstName"])

sorted(dic_list, key = other_sorting_func, reverse = True)

[{'FirstName': 'Fredrik', 'LastName': 'Johansson', 'Age': 22},
 {'FirstName': 'Henrik', 'LastName': 'Duek', 'Age': 42},
 {'FirstName': 'Anna', 'LastName': 'Smith', 'Age': 28}]

In [69]:
sorted(dic_list, key = lambda person: person["FirstName"], reverse = True)

[{'FirstName': 'Henrik', 'LastName': 'Duek', 'Age': 42},
 {'FirstName': 'Fredrik', 'LastName': 'Johansson', 'Age': 22},
 {'FirstName': 'Anna', 'LastName': 'Smith', 'Age': 28}]

In [70]:
myfunc = lambda: "Hello"

otherfunc = myfunc

print(otherfunc())

Hello

## Group by multiple columns

In [71]:
heroes.head()

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
0,AzureDragon,Neutral,7,50,50,70,80,1000,19,1,78845,30000,"Mercury,20","Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells..."
1,CrystalDragon,Neutral,7,40,40,60,75,800,16,1,39338,20000,"Crystal,10","Dragon,Crystalgeneration,Resistance+20%,Unliving"
2,RustDragon,Neutral,7,30,30,50,50,750,17,1,26433,15000,"Sulfur,14","Dragon,Flying,Breath,Acidbreath"
3,FaerieDragon,Neutral,7,20,20,20,30,500,15,1,19580,10000,"Gem,8","Dragon,Flying,Spellcaster,MagicMirror"
4,Archangel,Castle,7+,30,30,50,50,250,18,1,8776,5000,"Gem,3","Flying,HatesDevils,Resurrection,Morale+1"

In [72]:
heroes["Gold"].mean()

1236.4893617021276

In [73]:
heroes.groupby("Castle")["Gold"].mean()

Castle
Castle         898.214286
Conflux        568.214286
Dungeon        789.285714
Fortress       734.285714
Inferno        841.428571
Necropolis     735.357143
Neutral       5246.666667
Rampart        739.642857
Stronghold     642.500000
Tower          882.857143
Name: Gold, dtype: float64

In [80]:
heroes.groupby(["Castle", "Health"])["Gold"].agg(["min", "max", "mean"])

                min   max     mean
Castle Health
Castle 10        60   150    96.25
       25       200   240   220.00
       30       400   450   425.00
       35       300   400   350.00
       100     1000  1200  1100.00
...             ...   ...      ...
Tower  35       200   200   200.00
       40       550   600   575.00
       110     1100  1600  1350.00
       150     2000  2000  2000.00
       300     5000  5000  5000.00

[94 rows x 3 columns]

In [81]:
heroes.groupby(["Castle", "Health"], as_index = False)["Gold"].agg(["min", "max", "mean"])

    Castle  Health   min   max     mean
0   Castle      10    60   150    96.25
1   Castle      25   200   240   220.00
2   Castle      30   400   450   425.00
3   Castle      35   300   400   350.00
4   Castle     100  1000  1200  1100.00
..     ...     ...   ...   ...      ...
89   Tower      35   200   200   200.00
90   Tower      40   550   600   575.00
91   Tower     110  1100  1600  1350.00
92   Tower     150  2000  2000  2000.00
93   Tower     300  5000  5000  5000.00

[94 rows x 5 columns]