- **Pseudonymization** - Replacing the identification in such a way that it can be reversed  
- **Anonymization** - Replacing the identifying information with the ***intent*** to be fully non-reversable

### Techniques for anonymization:

- Hashing/Crypto
- **Data masking** fredrik@everyloop.com => f*******@*********.com
- **Generalization** age: 34 => age: 30-40
- **Aggregation** - group and aggregate
- Removing data

### Anonymization with hash
- There are many types of hashfunctions (algorithms). Example MDS, SHA-128, SHA256.
- Hash functions are used to map data of arbitrary size to fixed-size values.
- The same input always results in the same output (given it's using the same algorithm).
- (Even) a small change in the input yields a totally diffferent output string.
- It's not possible to reverse the process.

In [6]:
import hashlib as hl

text = "top secret information".encode()
hl.sha256(text).hexdigest()

'd22b947784e2fb59e57d66264dce9bb431373687cc19f6e5d8d53d787331f90a'

In [8]:
print(f"{hl.sha256('hello world'.encode()).hexdigest() = }")

hl.sha256('hello world'.encode()).hexdigest() = 'b94d27b9934d3e08a52e52d7da7dabfac484efe37a5380ee9088f7ace2efcde9'

In [9]:
import pandas as pd

In [10]:
employees = pd.read_json("./TrainingData/employees.json")
employees.head()

  first_name last_name             job_title  salary       department
0       John       Doe        Sales Director  120000            Sales
1       Jane     Smith        HR Coordinator   60000  Human Resources
2    Michael   Johnson     Software Engineer  110000               IT
3      Sarah  Williams  Marketing Specialist   75000            Sales
4      David     Brown            HR Manager   90000  Human Resources

In [12]:
employees['first_name'] = employees['first_name'].apply(lambda name: hl.sha256(name.encode()).hexdigest())

In [13]:
name = input("Enter name: ")
name_hash = hl.sha256(name.encode()).hexdigest()
print(name_hash)
employees.query("first_name == @name_hash")

a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe244bf720582e05241da

,first_name,last_name,job_title,salary,department
0,a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe2...,Doe,Sales Director,120000,Sales