In [1]:
from dash import Dash, html, dcc, callback, Output, Input
import dash_bootstrap_components as dbc
import plotly_express as px
import pandas as pd

In [10]:
stocks = pd.read_csv("../TrainingData/HistoricalData_Apple.csv", parse_dates = ["Date"], index_col = "Date")
stocks.head()

           Close/Last    Volume     Open     High      Low
Date
2023-11-09    $182.41  53763540  $182.96  $184.12  $181.81
2023-11-08    $182.89  49340280  $182.35  $183.45  $181.59
2023-11-07    $181.82  70529970  $179.18  $182.44  $178.97
2023-11-06    $179.23  63841310  $176.38  $179.43  $176.21
2023-11-03    $176.65  79829250  $174.24  $176.82  $173.35

In [15]:
app = Dash(__name__,
            external_stylesheets = [dbc.themes.DARKLY],
            meta_tags = [{"name": "viewport", "content": "width = device-width, initial-scale = 1"}])

app.layout = dbc.Container([
    dbc.Row([
        dbc.Col([
            html.H1("Apple Historical Data Dashboard", className = 'text-center text-primary mx-3')
        ], width = 12)
    ]),

    dbc.Row([
        dbc.Col([
            dcc.Dropdown(id = "single_dropdown", multi = False,
                         #options = [stock for stock in stocks["Symbols"].unique()],
                         style = {'color': '#333'}
                         ),
                         dcc.Graph(id = "volume_graph",
                                   figure = px.line(stocks, x=stocks.index, y = "Volume"))
        ], width = 5)
    ])
])

# @callback(
#         Output("volume_graph", "figure"),
#         Input("single_dropdown", "value")
# )
# def update_volume_graph(symbol):
#     df = stocks.query("Symbols == @symbol")
#     px.line(stocks, x=stocks.index, y = "Volume")

app.run(Debug = True, jupyter_mode = 'external')

Dash app running on http://127.0.0.1:8050/