# Dataframe from file

In [1]:
import pandas as pd

In [2]:
top_songs = pd.read_csv("../TrainingData/universal_top_spotify_songs.csv", header = 0)
top_songs.head(2)

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,1Iq8oo9XkmmvCQiGOfORiz,Is It Over Now? (Taylor's Version) (From The V...,Taylor Swift,1,1,49,NaN,2023-11-01,87,False,...,0,-7.346,1,0.0360,0.0504,0.000000,0.1270,0.1760,100.012,4
1,5KD6AEm19QnMbfWpfoOHMl,Now That We Don't Talk (Taylor's Version) (Fro...,Taylor Swift,2,1,48,NaN,2023-11-01,87,False,...,0,-9.319,1,0.0338,0.1860,0.000038,0.0889,0.0662,109.994,4

header = 0: Этот аргумент указывает, что первая строка в файле CSV содержит заголовки столбцов (названия столбцов). Если header установлен в 0, то первая строка будет использована в качестве заголовков. 
Установка header = 1 в функции pd.read_csv() указывает Pandas на то, что вторая строка (нумерация строк начинается с 0) в файле CSV должна быть использована в качестве заголовков столбцов данных. То есть вторая строка файла будет интерпретирована как имена столбцов, и данные будут начинаться с третьей строки и далее.

У pd.read_csv() есть значение по умолчанию для аргумента header: "infer". Когда header="infer", Pandas попытается автоматически определить, есть ли заголовки в файле CSV. Если заголовки обнаруживаются в файле, они будут использованы в качестве названий столбцов; в противном случае, они будут сгенерированы числовыми индексами.

In [3]:
cosmetics = pd.read_json("../TrainingData/CosmeticBrands/makeup_data.json")
cosmetics.head()

,id,brand,name,price,price_sign,currency,image_link,product_link,website_link,description,rating,category,product_type,tag_list,created_at,updated_at,product_api_url,api_featured_image,product_colors
0,1048,colourpop,Lippie Pencil,5.0,$,CAD,https://cdn.shopify.com/s/files/1/1338/0845/co...,https://colourpop.com/collections/lippie-pencil,https://colourpop.com,Lippie Pencil A long-wearing and high-intensit...,NaN,pencil,lip_liner,"[cruelty free, Vegan]",2018-07-08 23:45:08.056000+00:00,2018-07-09 00:53:23.301000+00:00,http://makeup-api.herokuapp.com/api/v1/product...,//s3.amazonaws.com/donovanbailey/products/api_...,"[{'hex_value': '#B28378', 'colour_name': 'BFF ..."
1,1047,colourpop,Blotted Lip,5.5,$,CAD,https://cdn.shopify.com/s/files/1/1338/0845/pr...,https://colourpop.com/collections/lippie-stix?...,https://colourpop.com,Blotted Lip Sheer matte lipstick that creates ...,NaN,lipstick,lipstick,"[cruelty free, Vegan]",2018-07-08 22:01:20.178000+00:00,2018-07-09 00:53:23.287000+00:00,http://makeup-api.herokuapp.com/api/v1/product...,//s3.amazonaws.com/donovanbailey/products/api_...,"[{'hex_value': '#b72227', 'colour_name': 'Bee'..."
2,1046,colourpop,Lippie Stix,5.5,$,CAD,https://cdn.shopify.com/s/files/1/1338/0845/co...,https://colourpop.com/collections/lippie-stix,https://colourpop.com,"Lippie Stix Formula contains Vitamin E, Mango,...",NaN,lipstick,lipstick,"[cruelty free, Vegan]",2018-07-08 21:47:49.858000+00:00,2018-07-09 00:53:23.274000+00:00,http://makeup-api.herokuapp.com/api/v1/product...,//s3.amazonaws.com/donovanbailey/products/api_...,"[{'hex_value': '#F2DEC3', 'colour_name': 'Fair..."
3,1045,colourpop,No Filter Foundation,12.0,$,CAD,https://cdn.shopify.com/s/files/1/1338/0845/pr...,https://colourpop.com/products/no-filter-matte...,https://colourpop.com/products/no-filter-matte...,"Developed for the Selfie Age, our buildable fu...",NaN,liquid,foundation,"[cruelty free, Vegan]",2018-07-08 18:22:25.273000+00:00,2018-07-09 00:53:23.313000+00:00,http://makeup-api.herokuapp.com/api/v1/product...,//s3.amazonaws.com/donovanbailey/products/api_...,"[{'hex_value': '#F2DEC3', 'colour_name': 'Fair..."
4,1044,boosh,Lipstick,26.0,$,CAD,https://cdn.shopify.com/s/files/1/1016/3243/pr...,https://www.boosh.ca/collections/all,https://www.boosh.ca/,All of our products are free from lead and hea...,NaN,lipstick,lipstick,"[Chemical Free, Organic]",2018-07-08 17:32:28.088000+00:00,2018-09-02 22:52:06.669000+00:00,http://makeup-api.herokuapp.com/api/v1/product...,//s3.amazonaws.com/donovanbailey/products/api_...,"[{'hex_value': '#CB4975', 'colour_name': 'Babs..."

In [4]:
heroes = pd.read_excel("../TrainingData/heroes.xlsx")
heroes.head()

       Unnamed: 0              Unnamed: 1               Unnamed: 2
0             NaN                     NaN                      NaN
1  Названия строк  Среднее по полю Attack  Среднее по полю Defence
2          Castle               11.857143                11.071429
3         Conflux               10.714286                10.071429
4         Dungeon               11.642857                10.714286

In [5]:
heroes = pd.read_excel("../TrainingData/heroes.xlsx", skiprows = 2)
heroes.head()

  Названия строк  Среднее по полю Attack  Среднее по полю Defence
0         Castle               11.857143                11.071429
1        Conflux               10.714286                10.071429
2        Dungeon               11.642857                10.714286
3       Fortress                9.928571                11.642857
4        Inferno               11.571429                10.714286

In [6]:
heroes = pd.read_excel("../TrainingData/heroes.xlsx", skiprows = 2)
pd.options.display.max_columns = None
heroes.head()

  Названия строк  Среднее по полю Attack  Среднее по полю Defence
0         Castle               11.857143                11.071429
1        Conflux               10.714286                10.071429
2        Dungeon               11.642857                10.714286
3       Fortress                9.928571                11.642857
4        Inferno               11.571429                10.714286

Файл Excel выше состоит из нескольких листов, и pd закономерно прочитал первый

In [7]:
heroes = pd.read_excel("../TrainingData/heroes.xlsx", sheet_name='original')
heroes.head()

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
0,AzureDragon,Neutral,7,50,50,70,80,1000,19,1,78845,30000,"Mercury,20","Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells..."
1,CrystalDragon,Neutral,7,40,40,60,75,800,16,1,39338,20000,"Crystal,10","Dragon,Crystalgeneration,Resistance+20%,Unliving"
2,RustDragon,Neutral,7,30,30,50,50,750,17,1,26433,15000,"Sulfur,14","Dragon,Flying,Breath,Acidbreath"
3,FaerieDragon,Neutral,7,20,20,20,30,500,15,1,19580,10000,"Gem,8","Dragon,Flying,Spellcaster,MagicMirror"
4,Archangel,Castle,7+,30,30,50,50,250,18,1,8776,5000,"Gem,3","Flying,HatesDevils,Resurrection,Morale+1"

In [8]:
heroes.tail()

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
136,Gnoll,Fortress,1,3,5,2,3,6,4,12,56,50,0,-
137,Pixie,Conflux,1,2,2,1,2,3,7,20,55,25,0,Flying
138,Imp,Inferno,1,2,3,1,2,4,5,15,50,50,0,-
139,Gremlin,Tower,1,3,3,1,2,4,4,16,44,30,0,-
140,Peasant,Neutral,1,1,1,1,1,1,3,25,15,10,0,-

In [9]:
heroes.sample(5)

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
107,Orc,Stronghold,3,8,4,2,5,15,4,7,192,150,0,Ranged(12shots)
82,Cerberus,Inferno,3+,10,8,2,7,25,8,5,392,250,0,"Noenemyretaliation,3-headedattack"
118,Zombie,Necropolis,2+,5,5,2,3,20,4,8,128,125,0,"Undead,Disease"
112,Harpy,Dungeon,2,6,5,1,4,14,6,8,154,130,0,"Flying,Strikeandreturn"
5,BlackDragon,Dungeon,7+,25,25,40,50,300,15,1,8721,4000,"Sulfur,2","Dragon,Flying,Breathattack,Resistallspells,Hat..."

In [10]:
heroes

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
0,AzureDragon,Neutral,7,50,50,70,80,1000,19,1,78845,30000,"Mercury,20","Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells..."
1,CrystalDragon,Neutral,7,40,40,60,75,800,16,1,39338,20000,"Crystal,10","Dragon,Crystalgeneration,Resistance+20%,Unliving"
2,RustDragon,Neutral,7,30,30,50,50,750,17,1,26433,15000,"Sulfur,14","Dragon,Flying,Breath,Acidbreath"
3,FaerieDragon,Neutral,7,20,20,20,30,500,15,1,19580,10000,"Gem,8","Dragon,Flying,Spellcaster,MagicMirror"
4,Archangel,Castle,7+,30,30,50,50,250,18,1,8776,5000,"Gem,3","Flying,HatesDevils,Resurrection,Morale+1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Gnoll,Fortress,1,3,5,2,3,6,4,12,56,50,0,-
137,Pixie,Conflux,1,2,2,1,2,3,7,20,55,25,0,Flying
138,Imp,Inferno,1,2,3,1,2,4,5,15,50,50,0,-
139,Gremlin,Tower,1,3,3,1,2,4,4,16,44,30,0,-
140,Peasant,Neutral,1,1,1,1,1,1,3,25,15,10,0,-

In [11]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 6)

heroes

,Unit_name,Castle,Level,Attack,Defence,Minimum Damage,Maximum Damage,Health,Speed,Growth,AI_Value,Gold,Additional_item,Special_abilities
0,AzureDragon,Neutral,7,50,50,70,80,1000,19,1,78845,30000,"Mercury,20","Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells..."
1,CrystalDragon,Neutral,7,40,40,60,75,800,16,1,39338,20000,"Crystal,10","Dragon,Crystalgeneration,Resistance+20%,Unliving"
2,RustDragon,Neutral,7,30,30,50,50,750,17,1,26433,15000,"Sulfur,14","Dragon,Flying,Breath,Acidbreath"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Imp,Inferno,1,2,3,1,2,4,5,15,50,50,0,-
139,Gremlin,Tower,1,3,3,1,2,4,4,16,44,30,0,-
140,Peasant,Neutral,1,1,1,1,1,1,3,25,15,10,0,-

In [12]:
rows, columns = heroes.shape
print (f"Dataframe has {rows} rows, and {columns} columns.")

Dataframe has 141 rows, and 14 columns.

In [13]:
rows = len(heroes)
columns = len(heroes.columns)
print(f"Dataframe has {rows} rows, and {columns} columns.")

Dataframe has 141 rows, and 14 columns.

In [14]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unit_name          141 non-null    object
 1   Castle             141 non-null    object
 2   Level              141 non-null    object
 3   Attack             141 non-null    int64
 4   Defence            141 non-null    int64
 5   Minimum Damage     141 non-null    int64
 6   Maximum Damage     141 non-null    int64
 7   Health             141 non-null    int64
 8   Speed              141 non-null    int64
 9   Growth             141 non-null    int64
 10  AI_Value           141 non-null    int64
 11  Gold               141 non-null    int64
 12  Additional_item    141 non-null    object
 13  Special_abilities  141 non-null    object
dtypes: int64(9), object(5)
memory usage: 15.6+ KB

# Convert to common formats

In [15]:
# Copy dataframe to clipboard (then use Ctrl+V)
heroes.to_clipboard()

In [16]:
heroes.to_json("../TrainingData/new_heroes.json", orient = "records")
json_string = heroes.to_json(indent = 4, orient = "records")
print(json_string[:200])

[
    {
        "Unit_name":"AzureDragon",
        "Castle":"Neutral",
        "Level":7,
        "Attack":50,
        "Defence":50,
        "Minimum Damage":70,
        "Maximum Damage":80,
        "

Аргумент orient="records" указывает, что данные будут сохранены в формате JSON, где каждая строка DataFrame будет представлена как отдельный объект (запись) в JSON.

Параметр indent равен 4, что означает, что JSON объекты будут отформатированы с отступами в 4 пробела для лучшей читаемости.

print(json_string[:200]): Этот код выводит первые 200 символов из строки json_string в консоль.

orientstr

    Indication of expected JSON string format.

        Series:

                default is ‘index’

                allowed values are: {‘split’, ‘records’, ‘index’, ‘table’}.

        DataFrame:

                default is ‘columns’

                allowed values are: {‘split’, ‘records’, ‘index’, ‘columns’, ‘values’, ‘table’}.

        The format of the JSON string:

                ‘split’ : dict like {‘index’ -> [index], ‘columns’ -> [columns], ‘data’ -> [values]}

                ‘records’ : list like [{column -> value}, … , {column -> value}]

                ‘index’ : dict like {index -> {column -> value}}

                ‘columns’ : dict like {column -> {index -> value}}

                ‘values’ : just the values array

                ‘table’ : dict like {‘schema’: {schema}, ‘data’: {data}}

"split": Каждый столбец DataFrame сохраняется как отдельный JSON объект, и данные разбиваются на несколько JSON файлов.

"index": Используется для сохранения меток индекса DataFrame как ключей JSON объектов.

"columns": Используется для сохранения названий столбцов как ключей JSON объектов.

"values": Все значения DataFrame сохраняются в виде плоского списка, без сохранения структуры столбцов и индексов.

"table": Создается JSON объект с ключом "schema" и двумя ключами "fields" и "data". "fields" содержит информацию о схеме данных (названия столбцов и их типы), а "data" содержит сами данные.

In [17]:
my_dict = heroes.to_dict(orient = "records")
my_dict[0]

{'Unit_name': 'AzureDragon',
 'Castle': 'Neutral',
 'Level': 7,
 'Attack': 50,
 'Defence': 50,
 'Minimum Damage': 70,
 'Maximum Damage': 80,
 'Health': 1000,
 'Speed': 19,
 'Growth': 1,
 'AI_Value': 78845,
 'Gold': 30000,
 'Additional_item': 'Mercury,20',
 'Special_abilities': 'Dragon,Flying,Breath,Fear,Resistlvl1вЂ“3spells,ResistFear'}