# Loc, iloc and []

In [1]:
import pandas as pd
from random import randint, choice

In [2]:
nums = [randint(-50,50) for i in range (10)]
indexes = [choice ([0, 1, 2, 3]) for i in range (10)]

In [4]:
s = pd.Series(nums)
s

0    37
1    -4
2    45
3    34
4   -21
5    49
6    -8
7   -44
8    25
9   -46
dtype: int64

In [5]:
indexes

[2, 1, 0, 0, 2, 3, 1, 3, 2, 0]

In [7]:
s_not_unique = pd.Series(nums, indexes)
s_not_unique

2    37
1    -4
0    45
0    34
2   -21
3    49
1    -8
3   -44
2    25
0   -46
dtype: int64

Метод iloc позволяет получить значения по номеру ряда (первый - 0):

In [9]:
s_not_unique.iloc[[2,1,9]]

0    45
1    -4
0   -46
dtype: int64

Метод loc позволяет получить значения по меткам:

In [10]:
s_not_unique.loc[3]

3    49
3   -44
dtype: int64

In [11]:
s_not_unique[[2,1,3]]

2    37
2   -21
2    25
1    -4
1    -8
3    49
3   -44
dtype: int64

При помоще метода loc можно менять значения серии

In [12]:
s_not_unique.loc[3] = 20

In [13]:
s_not_unique

2    37
1    -4
0    45
0    34
2   -21
3    20
1    -8
3    20
2    25
0   -46
dtype: int64

In [17]:
alpha = [choice ('abc') for i in range (10)]
s_alpha_ind = pd.Series(nums, alpha)
s_alpha_ind

b    37
b    -4
a    45
c    34
c   -21
b    49
c    -8
a   -44
c    25
a   -46
dtype: int64

In [18]:
s_alpha_ind.loc[['c', 'a']]

c    34
c   -21
c    -8
c    25
a    45
a   -44
a   -46
dtype: int64

In [19]:
column_values = [f"Column{i}" for i in range (1, 5)]
index_values = [chr(i) for i in range (65, 72)]

chr() - используется для получения символа, соответствующего заданному числовому значению Unicode (коду символа). Эта функция принимает один аргумент - целое число, представляющее код символа Unicode, и возвращает соответствующий символ.

Код index_values = [chr(i) for i in range(65, 72)] создает список index_values, который содержит символы, начиная с символа 'A' (код 65 в таблице ASCII) и заканчивая символом 'G' (код 71 в таблице ASCII). Таким образом, index_values будет содержать следующие символы:

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [20]:
df = pd.DataFrame([[f"{ind}{col}" for col in range (1,5)] for ind in index_values], 
                  index = index_values, columns = column_values)

df

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

Using no slices, return the value of a single cell:

In [21]:
df.iloc[1, 0]

'B1'

In [29]:
df.loc["B", "Column1"]

'B1'

Первый индекс - ряд, второй - колонка

Using slice on one axis return a pandas Series object:

In [22]:
df.iloc[1, :]

Column1    B1
Column2    B2
Column3    B3
Column4    B4
Name: B, dtype: object

In [30]:
df.loc["B", :]

Column1    B1
Column2    B2
Column3    B3
Column4    B4
Name: B, dtype: object

In [23]:
df.iloc[:, 0]

A    A1
B    B1
C    C1
D    D1
E    E1
F    F1
G    G1
Name: Column1, dtype: object

In [31]:
df.loc[:, "Column1"]

A    A1
B    B1
C    C1
D    D1
E    E1
F    F1
G    G1
Name: Column1, dtype: object

In [24]:
df.iloc[:3, 1]

A    A2
B    B2
C    C2
Name: Column2, dtype: object

In [32]:
df.loc[:"C", "Column2"]

A    A2
B    B2
C    C2
Name: Column2, dtype: object

Using slice on both axis returns a pandas DataFrame object:

In [25]:
df.iloc[:2, :2]

  Column1 Column2
A      A1      A2
B      B1      B2

In [33]:
df.loc[:"B", :"Column2"]

  Column1 Column2
A      A1      A2
B      B1      B2

In [26]:
df.iloc[2:6, 1:3]

  Column2 Column3
C      C2      C3
D      D2      D3
E      E2      E3
F      F2      F3

In [34]:
df.loc["C":"F", "Column2":"Column3"]

  Column2 Column3
C      C2      C3
D      D2      D3
E      E2      E3
F      F2      F3

In [27]:
df.iloc[:, :] #return a copy of the df, = df.loc[:,:]

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

Lists can be used instead of slices for either axis:

In [28]:
df.iloc[[0, 3, 5], [1, 3]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [35]:
df.loc[["A", "D", "F"], ["Column2", "Column4"]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

df[colname] returns a column as a pandas Series object:

In [36]:
df["Column2"]

A    A2
B    B2
C    C2
D    D2
E    E2
F    F2
G    G2
Name: Column2, dtype: object

df[[list of colnames]] returns a new dataframe with the given columns:

In [37]:
df[["Column1", "Column4", "Column3", "Column1"]]

  Column1 Column4 Column3 Column1
A      A1      A4      A3      A1
B      B1      B4      B3      B1
C      C1      C4      C3      C1
D      D1      D4      D3      D1
E      E1      E4      E3      E1
F      F1      F4      F3      F1
G      G1      G4      G3      G1

series[index] returns a scalar value:

In [38]:
df["Column2"]["D"]

'D2'