In [1]:
import seaborn as sns
from matplotlib import pyplot as plt

import pandas as pd

In [2]:
df = pd.read_csv("../TrainingData/parking_birmingham.csv", parse_dates = [3])

parse_dates=[3] - это опция, которая указывает, что столбец с индексом 3 (четвертый столбец в файле) содержит даты, которые нужно автоматически преобразовать в объекты даты datetime.

При использовании parse_dates, Pandas автоматически распознает даты в указанных столбцах и представляет их как объекты даты, что делает работу с данными и выполнение операций, связанных с датами, более удобной и интуитивной.

In [3]:
df.head()

  SystemCodeNumber  Capacity  Occupancy         LastUpdated
0      BHMBCCMKT01       577         61 2016-10-04 07:59:42
1      BHMBCCMKT01       577         64 2016-10-04 08:25:42
2      BHMBCCMKT01       577         80 2016-10-04 08:59:42
3      BHMBCCMKT01       577        107 2016-10-04 09:32:46
4      BHMBCCMKT01       577        150 2016-10-04 09:59:48

In [4]:
df.rename(columns={'SystemCodeNumber': 'Location', 'LastUpdated': 'Timestamp'}, inplace=True)
df['Day'] = df.Timestamp.dt.date
df['Month'] = df.Timestamp.dt.month
df['Hour'] = df.Timestamp.dt.hour

In [5]:
park = df[df.Location.isin(['Broad Street', 'NIA South'])]

park.sample(4)

,Location,Capacity,Occupancy,Timestamp,Day,Month,Hour
24983,NIA South,788,499,2016-11-27 14:02:23,2016-11-27,11,14
20210,Broad Street,690,494,2016-10-06 09:30:20,2016-10-06,10,9
24298,NIA South,788,295,2016-10-18 13:28:57,2016-10-18,10,13
24349,NIA South,788,154,2016-10-23 11:59:50,2016-10-23,10,11

In [6]:
sns.set_style('dark')

In [10]:
months = [pd.to_datetime(2016-10-1), 
          pd.to_datetime(2016-11-1), 
          pd.to_datetime(2016-12-1)]
plt.rc('date.autoformatter', day='%b %Y')

Строка plt.rc('date.autoformatter', day='%b %Y') используется для настройки формата автоформатирования даты на графиках, созданных с использованием библиотеки Matplotlib.

Конкретно, это устанавливает формат для автоматической подписи дней и годов на графиках. В данном случае, она устанавливает формат так, что дни будут представлены сокращенным названием месяца (%b) и годом (%Y). Например, "Oct 2016" для октября 2016 года.